<div class="container__small-card">

    <div class = "container__small-card-content">

        <div class = "small-card__photo">

            <img 
                src = "https://images.prismic.io/voitto-blog/73616bf9-ef8b-4f2a-918f-ab1d85788045_marketing+%286%29+%281%29.png?auto=compress,format?w=1920&q=75" 
                alt = ""
                 
                srcset=""
               
                
            > 
    
        </div>
    
        
    
        <div class = "small-card__title">
    
            <h1><a href="#">Tecnologias para Sistemas de Computação</a></h1> 
    
            
    
        </div>


    </div> 


    

    <div class = "container__small-card__separator">

        <hr>

    </div>

   
</div>




